<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security" xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <security:http pattern="/common/**" security="none" />
    <security:http pattern="/login.jsp" security="none" />
    <security:http pattern="/user/login" security="none" />
    <security:http pattern="/index" security="none" />
    
    <security:http use-expressions="true">
		<security:intercept-url pattern="/**" access="isAuthenticated()" />
		<security:form-login login-page="/login.jsp"    authentication-failure-url="/login.jsp?error=1" />
	    <security:logout invalidate-session="true" logout-url="/logout"  logout-success-url="/"  />
    </security:http>
    
    <security:authentication-manager alias="myAuthenticationManager">
		<security:authentication-provider user-service-ref="userService">
		    <security:password-encoder hash="md5"></security:password-encoder>
		</security:authentication-provider> 
    </security:authentication-manager>
 
</beans>